<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ModelWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IDCTrainingController</display-name>
    <servlet-name>IDCTrainingController</servlet-name>
    <servlet-class>com.indirectionsoftware.runtime.training.IDCTrainingController</servlet-class>
      <init-param>
        <param-name>dbType</param-name>
        <param-value>MySQL</param-value>
      </init-param>
      <init-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
      </init-param>
      <init-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/$$Admin?autoReconnect=true&#38;useSSL=false&#38;useLegacyDatetimeCode=false&#38;useTimezone=true&#38;serverTimezone=UTC</param-value>
      </init-param>
      <init-param>
        <param-name>minDebugLevel</param-name>
        <param-value>DATABASE</param-value>
      </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDCTrainingController</servlet-name>
    <url-pattern>/IDCTrainingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IDCWebServiceController</display-name>
    <servlet-name>IDCWebServiceController</servlet-name>
    <servlet-class>com.indirectionsoftware.runtime.web.IDCWebServiceController</servlet-class>
      <init-param>
        <param-name>dbType</param-name>
        <param-value>MySQL</param-value>
      </init-param>
      <init-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
      </init-param>
      <init-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/$$Admin?autoReconnect=true&#38;useSSL=false&#38;useLegacyDatetimeCode=false&#38;useTimezone=true&#38;serverTimezone=UTC</param-value>
      </init-param>
      <init-param>
        <param-name>minDebugLevel</param-name>
        <param-value>DATABASE</param-value>
      </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDCWebServiceController</servlet-name>
    <url-pattern>/IDCWebServiceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IDCWebAppController</display-name>
    <servlet-name>IDCWebAppController</servlet-name>
    <servlet-class>com.indirectionsoftware.runtime.webapp.IDCWebAppController</servlet-class>
      <init-param>
        <param-name>dbType</param-name>
        <param-value>MySQL</param-value>
      </init-param>
      <init-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
      </init-param>
      <init-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/$$Admin?autoReconnect=true&#38;useSSL=false&#38;useLegacyDatetimeCode=false&#38;useTimezone=true&#38;serverTimezone=UTC</param-value>
      </init-param>
      <init-param>
        <param-name>minDebugLevel</param-name>
        <param-value>DATABASE</param-value>
      </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDCWebAppController</servlet-name>
    <url-pattern>/IDCWebAppController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IDCWebEditController</display-name>
    <servlet-name>IDCWebEditController</servlet-name>
    <servlet-class>com.indirectionsoftware.runtime.webeditor.IDCWebEditController</servlet-class>
      <init-param>
        <param-name>dbType</param-name>
        <param-value>MySQL</param-value>
      </init-param>
      <init-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
      </init-param>
      <init-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/$$Admin?autoReconnect=true&#38;useSSL=false&#38;useLegacyDatetimeCode=false&#38;useTimezone=true&#38;serverTimezone=UTC</param-value>
      </init-param>
      <init-param>
        <param-name>minDebugLevel</param-name>
        <param-value>DATABASE</param-value>
      </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDCWebEditController</servlet-name>
    <url-pattern>/IDCWebEditController</url-pattern>
  </servlet-mapping>
</web-app>