
/* Header */

* {margin: 0; padding: 0;}
 
h1  {
  margin: 10; 
  padding: 10;
  font: 44px Arial, sans-serif;
}

h2 {
  font: 40px Arial, sans-serif;
}

h3 {
  font: 36px Arial, sans-serif;
}

p {
  font: 30px Arial, sans-serif;
}

/* Menu bar */

.menu {
  font: 36px Arial, sans-serif;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3486eb;
}

.menu li {
  float: right;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #154c8f;
}

/* Main */

.main * {margin: 0; padding: 0;}
 
.main div {
  margin: 20px;
}
 
.main ul {
  list-style-type: none;
}
 
.main li {
  margin: 10; 
  padding: 10;
  overflow: auto;
  border-radius: 15px;
  background-color: #9cc5f7;
}

.main img {
  width: 100px;
  margin: 0 15px 0 0;
}

.actleft {
  width: 500;
  float: left;
}

.actleft img {
  float: left;
  border-radius: 20%;
}

.actright {
  width: 100;
  float: right;
}

.actright img {
  float: right;
}

